In [1]:
import pandas as pd
import numpy as np

# Zadanie 1
Wgraj plik DANE_PAD_03.csv jako ramkę danych.

In [2]:
data = pd.read_csv('PAD_03_PD.csv', sep = ';')
data.head(5)

   ID Country  owns_car  owns_TV  owns_house  owns_Phone gender  Age
0   1       A       0.0      0.0         0.0           1      M   61
1   2       B       0.0      0.0         0.0           1      M   44
2   3       A       0.0      0.0         0.0           1      M   56
3   4       A       0.0      0.0         0.0           1      M   53
4   5       C       1.0      1.0         0.0           1      K   60

In [3]:
data.describe()

             ID    owns_car     owns_TV  owns_house  owns_Phone         Age
count  800.0000  798.000000  798.000000  794.000000  800.000000  800.000000
mean   400.5000    0.234336    0.446115    0.200252    0.943750   43.295000
std    231.0844    0.423849    0.497400    0.400441    0.230548   14.333607
min      1.0000    0.000000    0.000000    0.000000    0.000000   18.000000
25%    200.7500    0.000000    0.000000    0.000000    1.000000   31.000000
50%    400.5000    0.000000    0.000000    0.000000    1.000000   44.000000
75%    600.2500    0.000000    1.000000    0.000000    1.000000   56.000000
max    800.0000    1.000000    1.000000    1.000000    1.000000   67.000000

UWAGA! W przypadku wartości brakujących: albo dodać najbardziej popularną wartość albo usunąć wiersz.

In [4]:
data[data.isna().any(axis=1)]

      ID Country  owns_car  owns_TV  owns_house  owns_Phone gender  Age
31    32       C       1.0      1.0         1.0           1    NaN   60
50    51       A       0.0      NaN         0.0           1      M   37
72    73       A       NaN      0.0         0.0           1      M   45
75    76       B       0.0      0.0         NaN           1      M   39
106  107       B       0.0      0.0         NaN           1      M   36
128  129       A       0.0      0.0         NaN           1      M   66
155  156       C       1.0      1.0         NaN           1      K   27
174  175       A       0.0      0.0         0.0           1    NaN   64
176  177       C       0.0      1.0         NaN           1      K   49
199  200       A       0.0      0.0         0.0           1    NaN   59
240  241       B       0.0      1.0         0.0           1    NaN   51
278  279     NaN       0.0      1.0         0.0           1      K   24
279  280     NaN       0.0      0.0         0.0           1      M   33
280  281     NaN       0.0      0.0         0.0           1      M   45
281  282     NaN       0.0      0.0         0.0           1      M   51
282  283     NaN       0.0      0.0         0.0           1      M   60
283  284     NaN       0.0      0.0         0.0           1      M   64
284  285     NaN       0.0      0.0         0.0           1      M   19
335  336       B       0.0      0.0         NaN           1      M   67
337  338       C       NaN      1.0         0.0           1      K   34
358  359       C       1.0      1.0         0.0           1    NaN   45
361  362       B       0.0      NaN         0.0           1      M   30

In [5]:
data = data[data.isna().any(axis=1) == False]

In [6]:
data.describe()

               ID    owns_car     owns_TV  owns_house  owns_Phone         Age
count  778.000000  778.000000  778.000000  778.000000  778.000000  778.000000
mean   405.673522    0.236504    0.448586    0.203085    0.942159   43.227506
std    231.606790    0.425208    0.497670    0.402554    0.233592   14.329490
min      1.000000    0.000000    0.000000    0.000000    0.000000   18.000000
25%    205.250000    0.000000    0.000000    0.000000    1.000000   31.000000
50%    411.500000    0.000000    0.000000    0.000000    1.000000   44.000000
75%    605.750000    0.000000    1.000000    0.000000    1.000000   56.000000
max    800.000000    1.000000    1.000000    1.000000    1.000000   67.000000

Oblicz liczebność każdej z wartości w zmiennej COUNTRY.

In [7]:
data['Country'].value_counts()

A    323
B    196
C    181
D     78
Name: Country, dtype: int64

# Zadanie 2
W nowej kolumnie ‘owned_goods’ dodaj zmienną, która będzie informowała o liczbie posiadanych dóbr
(zliczyć ile dana osoba posiada w sumie dóbr).

In [8]:
data['owned_goods'] = data['owns_car'] + data['owns_TV'] + data['owns_house'] + data['owns_Phone']
data.head(10)

,ID,Country,owns_car,owns_TV,owns_house,owns_Phone,gender,Age,owned_goods
0,1,A,0.0,0.0,0.0,1,M,61,1.0
1,2,B,0.0,0.0,0.0,1,M,44,1.0
2,3,A,0.0,0.0,0.0,1,M,56,1.0
3,4,A,0.0,0.0,0.0,1,M,53,1.0
4,5,C,1.0,1.0,0.0,1,K,60,3.0
5,6,A,0.0,0.0,0.0,1,M,48,1.0
6,7,D,1.0,1.0,1.0,1,K,58,4.0
7,8,C,0.0,1.0,0.0,1,K,59,2.0
8,9,A,0.0,0.0,0.0,1,M,61,1.0
9,10,A,0.0,0.0,0.0,1,M,48,1.0

# Zadanie 3
Porównaj średnią posiadanych dóbr między kobietami i mężczyznami.  
Wynik zaokrąglij do 2 miejsc po przecinku.

In [9]:
data.groupby('gender').agg({'owned_goods' : 'mean'}).reset_index().round(2)

  gender  owned_goods
0      K         2.80
1      M         0.89

# Zadanie 4
Stwórz ramkę danych, która zawierać będzie w pierwszej kolumnie wartość zmiennej COUNTRY,  
w drugiej kolumnie, średnią posiadanych dóbr w danym kraju  
(Wynik zaokrąglij do 2 miejsc po przecink),  
a w trzeciej kolumnie minimum wieku.

In [10]:
data.groupby('Country').agg({'owned_goods' : 'mean', 'Age' : 'min'}).reset_index().round(2)

  Country  owned_goods  Age
0       A         0.86   18
1       B         1.46   18
2       C         3.03   18
3       D         4.00   18