In [2]:
import pandas as pd

# Zadanie 1 (5 pkt)
Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

In [6]:
orders = pd.read_csv("orders.csv", parse_dates=['order_date'])
print(orders.head(5))
print(orders.info())
print(orders.describe())

  order_date  pages_visited         order_id customer_id  tshirt_category  \
0 2016-09-04              9  HTS-038040-0002      038040  White T-Shirt M
1 2014-11-14             11  HTS-801797-0001      801797  White T-Shirt M
2 2017-02-26             10  HTS-vft1eu-0003      vft1eu  White T-Shirt F
3 2013-12-01             10  HTS-914324-0001      914324      Wh Tshirt F
4 2015-10-22             12  HTS-88ua9r-0001      88ua9r  White T-Shirt M

   tshirt_price  tshirt_quantity
0          20.0                1
1          20.0                1
2          18.0                3
3          18.0                1
4          20.0                1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  datetime64[ns]
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_category  26552 non-null  object
 5   tshirt_price     26552 non-null  float64
 6   tshirt_quantity  26552 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 1.4+ MB
None
       pages_visited  tshirt_price  tshirt_quantity
count   26552.000000  26552.000000     26552.000000
mean       10.838016     20.223768         2.693394
std         3.589299      2.220651         3.456182
min         2.000000     17.500000         1.000000
25%         8.000000     18.000000         1.000000
50%        11.000000     20.000000         2.000000
75%        13.000000     23.000000         3.000000
max        28.000000     24.000000        29.000000

Następnie:
a.	Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;

In [34]:
orders['order_date'] = pd.to_datetime(orders['order_date'], format='%Y-%m-%d')

b.	Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;

In [35]:
orders['tshirt_category'].value_counts()

Hoodie             6229
White T-Shirt M    5547
Black T-Shirt M    4454
White T-Shirt F    3513
Black T-Shirt F    3248
Tennis Shirt       2153
Wh Tshirt M         462
Bl Tshirt M         377
Wh Tshirt F         312
Bl Tshirt F         257
Name: tshirt_category, dtype: int64

c.	Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;

In [61]:
replacements_dict = {'Wh ' : 'White ', 'Bl ' : 'Black ', 'Tshirt' : 'T-Shirt'}

In [68]:
for (key, value) in replacements_dict.items():
    orders['tshirt_category'] = orders['tshirt_category'].str.replace(key, value)
    # z wykorzystaniem apply:
    # orders['tshirt_category'] = orders['tshirt_category'].apply(lambda x: x.replace(key, value))
orders['tshirt_category'].value_counts()

Hoodie             6229
White T-Shirt M    6009
Black T-Shirt M    4831
White T-Shirt F    3825
Black T-Shirt F    3505
Tennis Shirt       2153
Name: tshirt_category, dtype: int64

d.	Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.

In [110]:
# ogólnie w tym wypadku tam gdzie jest mniej niż jedna spacja jest tylko typ produktu, więc wystarczy podzielić kolumnę na spacji ale tylko tam gdzie wartość zawiera 2 spacje
orders['split_tshirt_category'] = orders['tshirt_category']\
    .apply(lambda x: 1 if len(x.split(' ')) == 3 else 0)

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,split_tshirt_category
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,1
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,1
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,1
3,2013-12-01,10,HTS-914324-0001,914324,White T-Shirt F,18.0,1,1
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,1
...,...,...,...,...,...,...,...,...
26546,2017-01-22,15,HTS-koe0cv-0001,koe0cv,White T-Shirt M,20.0,10,1
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1,1
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1,1
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1,1
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3,1

In [100]:
# alternatywnie można znormalizować jeszcze bardziej nazwy produktów do formatu kolor-typ-rozmiar i następnie split,
# ew. stworzyć listy dozwolonych wartości dla koloru, typu i rozmiaru i dla każdego wiersza zwracać odpowiedni fragment z tshirt_type który znajduje się na takiej liście do odpowiedniej kolumny

e.	Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

# Zadanie 2 (4 pkt)
Wgraj plik customers.csv do ramki danych. Następnie:

In [3]:
customers = pd.read_csv('customers.csv')
customers.head(5)

,customerID,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False

a.	Wypisz kolumny;

In [4]:
customers.columns

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

b.	Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;

In [7]:
print(orders.shape, customers.shape)

(26552, 7) (18766, 6)

c.	Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;

In [9]:
customers.rename(columns = {'customerID' : 'customer_id'}, inplace = True)
customers.head(5)

,customer_id,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False

d.	Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [15]:
nowa_ramka = orders.merge(customers, on='customer_id', how='left')
nowa_ramka.head(5)
# merge po kolumnie customer_id
# (join robiłby to raczej po indexie więc najpierw w obu trzeba by było zamienić customer_id na index

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
3,2013-12-01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1,F,1959/10/22,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,51.99.199.27,False
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,F,1985/4/14,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,169.15.143.204,True

# Zadanie 3 (1 pkt)
Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [16]:
nowa_ramka.to_csv('zad3_wynik.csv', index=False)