In [1]:
import pandas as pd
import numpy as np
np.set_printoptions(suppress=True)

# Zadanie 1 (4 pkt)
Wgraj zawartość pliku Zadanie_1.csv. Stwórz tablice w numpy w oparciu o wczytane dane.
Podaj:

In [2]:
zad1 = np.genfromtxt('Zadanie_1.csv', delimiter = ';', skip_header=True)
zad1

array([[  36.   ,   27.   ,   71.   ,    8.1  ,    3.34 ,   11.4  ,
          81.5  , 3243.   ,    8.8  ,   42.6  ,   11.7  ,   21.   ,
             nan,   59.   ,   59.   ,  921.87 ],
       [  35.   ,   23.   ,   72.   ,   11.1  ,    3.14 ,   11.   ,
          78.8  , 4281.   ,    3.6  ,   50.7  ,   14.4  ,    8.   ,
          10.   ,   39.   ,   57.   ,  997.875],
       [  44.   ,   29.   ,   74.   ,   10.4  ,    3.21 ,    9.8  ,
          81.6  , 4260.   ,    0.8  ,   39.4  ,      nan,    6.   ,
           6.   ,   33.   ,   54.   ,  962.354],
       [  47.   ,   45.   ,   79.   ,    6.5  ,    3.41 ,   11.1  ,
          77.5  , 3125.   ,   27.1  ,   50.2  ,   20.6  ,   18.   ,
           8.   ,   24.   ,   56.   ,  982.291],
       [  43.   ,   35.   ,   77.   ,    7.6  ,    3.44 ,    9.6  ,
          84.6  , 6441.   ,   24.4  ,   43.7  ,   14.3  ,   43.   ,
          38.   ,      nan,   55.   , 1071.289],
       [  53.   ,   45.   ,   80.   ,    7.7  ,    3.45 ,   10.2  ,
          66.8  , 3325.   ,   38.5  ,   43.1  ,   25.5  ,   30.   ,
          32.   ,   72.   ,   54.   , 1030.38 ],
       [  43.   ,   30.   ,   74.   ,   10.9  ,    3.23 ,   12.1  ,
          83.9  , 4679.   ,    3.5  ,   49.2  ,   11.3  ,   21.   ,
          32.   ,   62.   ,   56.   ,  934.7  ],
       [  45.   ,   30.   ,   73.   ,    9.3  ,    3.29 ,   10.6  ,
          86.   , 2140.   ,    5.3  ,   40.4  ,   10.5  ,    6.   ,
           4.   ,    4.   ,   56.   ,  899.529],
       [  36.   ,   24.   ,   70.   ,    9.   ,    3.31 ,   10.5  ,
          83.2  , 6582.   ,    8.1  ,   42.5  ,   12.6  ,   18.   ,
          12.   ,   37.   ,   61.   , 1001.902],
       [  36.   ,   27.   ,   72.   ,    9.5  ,    3.36 ,   10.7  ,
          79.3  , 4213.   ,    6.7  ,   41.   ,   13.2  ,   12.   ,
           7.   ,   20.   ,   59.   ,  912.347],
       [  52.   ,   42.   ,   79.   ,    7.7  ,    3.39 ,    9.6  ,
          69.2  , 2302.   ,   22.2  ,   41.3  ,   24.2  ,   18.   ,
           8.   ,   27.   ,   56.   , 1017.613],
       [  33.   ,   26.   ,   76.   ,    8.6  ,    3.2  ,   10.9  ,
          83.4  , 6122.   ,   16.3  ,   44.9  ,   10.7  ,   88.   ,
          63.   ,  278.   ,   58.   , 1024.885],
       [  40.   ,   34.   ,   77.   ,    9.2  ,    3.21 ,   10.2  ,
          77.   , 4101.   ,   13.   ,   45.7  ,   15.1  ,   26.   ,
          26.   ,  146.   ,   57.   ,  970.467],
       [  35.   ,   28.   ,   71.   ,    8.8  ,    3.29 ,   11.1  ,
          86.3  , 3042.   ,   14.7  ,   44.6  ,   11.4  ,   31.   ,
          21.   ,      nan,   60.   ,  985.95 ],
       [  37.   ,   31.   ,   75.   ,    8.   ,    3.26 ,   11.9  ,
          78.4  , 4259.   ,   13.1  ,   49.6  ,   13.9  ,   23.   ,
           9.   ,   15.   ,   58.   ,  958.839],
       [  35.   ,   46.   ,   85.   ,    7.1  ,    3.22 ,   11.8  ,
          79.9  , 1441.   ,   14.8  ,   51.2  ,   16.1  ,    1.   ,
           1.   ,    1.   ,   54.   ,  860.101],
       [  36.   ,   30.   ,   75.   ,    7.5  ,    3.35 ,   11.4  ,
          81.9  , 4029.   ,   12.4  ,   44.   ,   12.   ,    6.   ,
           4.   ,   16.   ,   58.   ,  936.234],
       [  15.   ,   30.   ,   73.   ,    8.2  ,    3.15 ,   12.2  ,
          84.2  , 4824.   ,    4.7  ,   53.1  ,   12.7  ,   17.   ,
           8.   ,   28.   ,   38.   ,  871.766],
       [  31.   ,   27.   ,   74.   ,    7.2  ,    3.44 ,   10.8  ,
          87.   , 4834.   ,   15.8  ,   43.5  ,   13.6  ,   52.   ,
          35.   ,  124.   ,   59.   ,  959.221],
       [     nan,   24.   ,   72.   ,    6.5  ,    3.53 ,   10.8  ,
          79.5  , 3694.   ,   13.1  ,   33.8  ,   12.4  ,   11.   ,
           4.   ,   11.   ,   61.   ,  941.181],
       [  31.   ,   45.   ,   85.   ,    7.3  ,    3.22 ,   11.4  ,
          80.7  , 1844.   ,   11.5  ,   48.1  ,   18.5  ,    1.   ,
           1.   ,    1.   ,   53.   ,  891.708],
       [  31.   ,   24.   ,   72.   ,    9.   ,    3.37 ,   10.9  ,
          82.8  , 3226.   ,    5.1  ,   45.2  ,   12.3  ,    5.   ,
           3.   ,   10.   ,   61.   ,  871.338],
       [  42.   ,   40.   ,   77.   ,    6.1  ,    3.45 ,   10.4  ,
          71.8  , 2269.   ,   22.7  ,   41.4  ,   19.5  ,    8.   ,
           3.   ,    5.   ,   53.   ,  971.122],
       [  43.   ,   27.   ,   72.   ,    9.   ,    3.25 ,   11.5  ,
          87.1  , 2909.   ,    7.2  ,   51.6  ,    9.5  ,    7.   ,
             nan,   10.   ,   56.   ,  887.466],
       [  46.   ,   55.   ,   84.   ,    5.6  ,    3.35 ,   11.4  ,
          79.7  , 2647.   ,   21.   ,   46.9  ,   17.9  ,    6.   ,
           5.   ,    1.   ,   59.   ,  952.529],
       [  39.   ,      nan,   76.   ,    8.7  ,    3.23 ,   11.4  ,
          78.6  , 4412.   ,   15.6  ,   46.6  ,   13.2  ,   13.   ,
           7.   ,   33.   ,   60.   ,  968.665],
       [  35.   ,   31.   ,   81.   ,    9.2  ,    3.1  ,   12.   ,
          78.3  , 3262.   ,   12.6  ,   48.6  ,   13.9  ,    7.   ,
           4.   ,    4.   ,   55.   ,  919.729],
       [     nan,   32.   ,   74.   ,   10.1  ,    3.38 ,    9.5  ,
          79.2  , 3214.   ,    2.9  ,   43.7  ,   12.   ,   11.   ,
           7.   ,   32.   ,   54.   ,  844.053],
       [  11.   ,   53.   ,   68.   ,    9.2  ,    2.99 ,   12.1  ,
          90.6  , 4700.   ,    7.8  ,   48.9  ,   12.3  ,  648.   ,
         319.   ,  130.   ,   47.   ,  861.833],
       [  30.   ,   35.   ,   71.   ,    8.3  ,    3.37 ,    9.9  ,
          77.4  , 4474.   ,   13.1  ,   42.6  ,   17.7  ,   38.   ,
          37.   ,  193.   ,   57.   ,  989.265],
       [  50.   ,   42.   ,   82.   ,    7.3  ,    3.49 ,   10.4  ,
          72.5  , 3497.   ,   36.7  ,   43.3  ,   26.4  ,   15.   ,
          10.   ,   34.   ,   59.   , 1006.49 ],
       [  60.   ,   67.   ,   82.   ,   10.   ,    2.98 ,   11.5  ,
          88.6  , 4657.   ,   13.6  ,   47.3  ,   22.4  ,      nan,
           1.   ,    1.   ,   60.   ,  861.439],
       [     nan,      nan,   69.   ,    8.8  ,    3.26 ,   11.1  ,
             nan, 2934.   ,    5.8  ,   44.   ,    9.4  ,   33.   ,
          23.   ,  125.   ,   64.   ,  929.15 ],
       [  25.   ,   12.   ,   73.   ,    9.2  ,    3.28 ,   12.1  ,
          83.1  , 2095.   ,    2.   ,   51.9  ,    9.8  ,   20.   ,
          11.   ,   26.   ,   50.   ,  857.622],
       [  45.   ,   40.   ,   80.   ,    8.3  ,    3.32 ,   10.1  ,
          70.3  , 2682.   ,   21.   ,   46.1  ,   24.1  ,   17.   ,
          14.   ,   78.   ,   56.   ,  961.009],
       [  46.   ,   30.   ,      nan,   10.2  ,    3.16 ,   11.3  ,
          83.2  , 3327.   ,      nan,   45.3  ,   12.2  ,    4.   ,
           3.   ,    8.   ,   58.   ,  923.234],
       [  54.   ,   54.   ,   81.   ,    7.4  ,    3.36 ,    9.7  ,
          72.8  , 3172.   ,   31.4  ,   45.5  ,   24.2  ,      nan,
          17.   ,    1.   ,   62.   , 1113.156],
       [  42.   ,   33.   ,   77.   ,    9.7  ,    3.3  ,   10.7  ,
          83.5  , 7462.   ,   11.3  ,   48.7  ,   12.4  ,   41.   ,
          26.   ,  108.   ,   58.   ,  994.648],
       [  42.   ,   32.   ,   76.   ,    9.1  ,    3.32 ,   10.5  ,
          87.5  , 6092.   ,   17.5  ,   45.3  ,   13.2  ,   29.   ,
          32.   ,  161.   ,   54.   , 1015.023],
       [  36.   ,   29.   ,   72.   ,    9.5  ,    3.32 ,   10.6  ,
          77.6  , 3437.   ,    8.1  ,   45.5  ,   13.8  ,   45.   ,
          59.   ,  263.   ,   56.   ,  991.29 ],
       [  37.   ,   38.   ,   67.   ,   11.3  ,    2.99 ,   12.   ,
          81.5  , 3387.   ,    3.6  ,   50.3  ,   13.5  ,   56.   ,
          21.   ,   44.   ,   73.   ,  893.991],
       [  42.   ,   29.   ,   72.   ,   10.7  ,    3.19 ,   10.1  ,
          79.5  , 3508.   ,    2.2  ,   38.3  ,   15.7  ,    6.   ,
           4.   ,   18.   ,   56.   ,  938.5  ],
       [  41.   ,   33.   ,   77.   ,   11.2  ,    3.8  ,    9.6  ,
          79.9  , 4843.   ,    2.7  ,   38.6  ,   14.1  ,   11.   ,
          11.   ,   89.   ,   54.   ,  946.185],
       [  44.   ,   39.   ,   78.   ,    8.2  ,    3.32 ,   11.   ,
          79.9  , 3768.   ,   28.6  ,   49.5  ,   17.5  ,   12.   ,
           9.   ,   48.   ,   53.   , 1025.502],
       [  32.   ,   25.   ,   72.   ,   10.9  ,    3.21 ,      nan,
          82.5  , 4355.   ,    5.   ,   46.4  ,   10.8  ,    7.   ,
           4.   ,   18.   ,   60.   ,  874.281],
       [  34.   ,   32.   ,   79.   ,    9.3  ,    3.23 ,    9.7  ,
          76.8  , 5160.   ,   17.2  ,   45.1  ,   15.3  ,   31.   ,
          15.   ,   68.   ,   57.   ,  953.56 ],
       [  10.   ,   55.   ,   70.   ,    7.3  ,    3.11 ,   12.1  ,
          88.9  , 3033.   ,    5.9  ,   51.   ,   14.   ,  144.   ,
          66.   ,      nan,   61.   ,  839.709],
       [  18.   ,   48.   ,   63.   ,    9.2  ,    2.92 ,   12.2  ,
          87.7  , 4253.   ,   13.7  ,   51.2  ,   12.   ,  311.   ,
         171.   ,   86.   ,   71.   ,  911.701],
       [  13.   ,   49.   ,   68.   ,    7.   ,    3.36 ,   12.2  ,
          90.7  , 2702.   ,    3.   ,   51.9  ,    9.7  ,  105.   ,
          32.   ,    3.   ,   71.   ,  790.733],
       [  35.   ,   40.   ,   64.   ,    9.6  ,    3.2  ,   12.2  ,
          82.5  , 3626.   ,    5.7  ,   54.3  ,   10.1  ,   20.   ,
           7.   ,   20.   ,   72.   ,  899.264],
       [  45.   ,   28.   ,   74.   ,   10.6  ,    3.21 ,   11.1  ,
          82.6  , 1883.   ,    3.4  ,   41.9  ,   12.3  ,    5.   ,
           4.   ,   20.   ,   56.   ,  904.155],
       [  38.   ,      nan,   72.   ,    9.8  ,    3.34 ,   11.4  ,
          78.   , 4923.   ,    3.8  ,   50.5  ,   11.1  ,    8.   ,
           5.   ,   25.   ,   61.   ,  950.672],
       [  31.   ,   26.   ,   73.   ,    9.3  ,    3.22 ,   10.7  ,
          81.3  , 3249.   ,    9.5  ,   43.9  ,   13.6  ,   11.   ,
           7.   ,   25.   ,   59.   ,  972.464],
       [  40.   ,   23.   ,   71.   ,   11.3  ,    3.28 ,   10.3  ,
          73.8  , 1671.   ,    2.5  ,   47.4  ,   13.5  ,    5.   ,
           2.   ,   11.   ,   60.   ,  912.202],
       [     nan,   37.   ,   78.   ,    6.2  ,    3.25 ,   12.3  ,
          89.5  , 5308.   ,   25.9  ,   59.7  ,   10.3  ,   65.   ,
          28.   ,  102.   ,   52.   ,  967.803],
       [  28.   ,   32.   ,   81.   ,    7.   ,    3.27 ,   12.1  ,
          81.   , 3665.   ,    7.5  ,   51.6  ,   13.2  ,    4.   ,
           2.   ,    1.   ,   54.   ,  823.764],
       [  45.   ,   33.   ,   76.   ,    7.7  ,      nan,   11.3  ,
          82.2  , 3152.   ,   12.1  ,   47.3  ,   10.9  ,   14.   ,
          11.   ,   42.   ,   56.   , 1003.502],
       [  45.   ,   24.   ,   70.   ,   11.8  ,    3.25 ,   11.1  ,
          79.8  , 3678.   ,    1.   ,   44.8  ,   14.   ,    7.   ,
           3.   ,    8.   ,   56.   ,  895.696],
       [  42.   ,   83.   ,   76.   ,    9.7  ,    3.22 ,    9.   ,
          76.2  , 9699.   ,    4.8  ,   42.2  ,   14.5  ,    8.   ,
           8.   ,   49.   ,   54.   ,  911.817],
       [  38.   ,   28.   ,   72.   ,    8.9  ,    3.48 ,   10.7  ,
          79.8  , 3451.   ,   11.7  ,   37.5  ,   13.   ,   14.   ,
          13.   ,   39.   ,   58.   ,  954.442]])

a)	Ile komórek liczy sobie macierz

In [3]:
print(zad1.size)

960

b)	Ile ma wierszy a ile kolumn

In [4]:
print(zad1.shape)

(60, 16)

c)	Oblicz następujące statystyki opisowe dla macierzy: średnia/mediana/wariancja

In [5]:
# dla kolumn
print(np.mean(zad1, axis=0))
print(np.median(zad1, axis=0))
print(np.var(zad1, axis=0))
# dla wierszy
print(np.mean(zad1, axis=1))
print(np.median(zad1, axis=1))
print(np.var(zad1, axis=1))

[          nan           nan           nan    8.79833333           nan
           nan           nan 3876.05                 nan   46.07333333
           nan           nan           nan           nan   57.53333333
  940.35843333]
[     nan      nan      nan    9.         nan      nan      nan 3567.
      nan   45.5        nan      nan      nan      nan   57.     943.683]
[             nan              nan              nan       2.10916389
              nan              nan              nan 2079173.4475
              nan      21.05095556              nan              nan
              nan              nan      29.31555556    3805.12739938]
[        nan 355.9759375         nan 286.2938125         nan 307.289375
 381.614375  213.9324375 500.6945    345.1316875 236.2001875 496.6803125
 353.1798125         nan 352.7499375 169.2638125 335.174     380.1885
 398.5350625         nan 195.83925   279.5005    227.717             nan
 252.5861875         nan 286.0268125         nan 438.8576875 381.0396875
 312.22375           nan         nan 208.812625  259.7643125         nan
         nan 563.828     482.4651875 322.294375  299.5113125 302.074375
 391.5678125 329.657625          nan 412.886875          nan 382.6013125
 250.7245625 310.054     199.0165625         nan 289.0615    184.830125
         nan 304.152125          nan 309.527875  693.1523125 302.032625 ]
[  nan 29.     nan 36.05   nan 44.05 37.5  20.3  30.   23.5  34.15 51.45
 37.     nan 27.   25.55 23.   22.5  39.25   nan 24.75 18.15 31.35   nan
 33.5    nan 22.45   nan 50.95 37.5  39.35   nan   nan 22.5  42.5    nan
   nan 41.5  37.   45.25 41.   23.5  35.8  41.5    nan 33.     nan 57.1
 40.5  27.5  24.     nan 25.5  18.25   nan 20.6    nan 19.   42.1  32.75]
[             nan 1082271.24662256              nan  590220.71272303
              nan  664772.83544336 1278948.62709961  292332.07443162
 2521056.06040125 1043473.72440896  341549.34454178 2168229.29362646
  987965.43767928              nan 1068054.66943881  148813.72731553
  958283.8213025  1358600.80392125 1361650.37211068              nan
  225271.76163844  621015.04907125  330117.5273725               nan
  432396.85215553              nan  637406.25649615              nan
 1269412.41824646 1170700.43887021  731724.43869844              nan
              nan  277914.57284586  441563.96010646              nan
              nan 3226271.76791    2154252.00553365  701708.74562461
  678966.79169584  734151.84672461 1370299.97097803  845983.04305461
              nan 1552087.54510898              nan 1045809.36941084
  434736.44356475  777594.40594     234394.5552335               nan
  636565.49232375  193550.30784273              nan  790727.62739523
              nan  801039.95815523 5452658.07604396  711358.07604586]

d)	Powtórz czynność z podpunktu c), ale tym razem usuń z macierzy braki danych.

In [6]:
# dla kolumn
print(np.nanmean(zad1, axis=0))
print(np.nanmedian(zad1, axis=0))
print(np.nanvar(zad1, axis=0))
# dla wierszy
print(np.nanmean(zad1, axis=1))
print(np.nanmedian(zad1, axis=1))
print(np.nanvar(zad1, axis=1))

[  37.46428571   35.36842105   74.6440678     8.79833333    3.28084746
   10.97118644   80.83728814 3876.05         11.92542373   46.07333333
   14.40677966   38.75862069   22.98275862   51.50877193   57.53333333
  940.35843333]
[  38.      32.      74.       9.       3.28    11.      81.    3567.
   11.3     45.5     13.2     14.5      9.      28.      57.     943.683]
[    102.28443878     141.63619575      22.60212583       2.10916389
       0.02019081       0.71425452      26.08674519 2079173.4475
      79.40155702      21.05095556      17.23927607    8578.49346017
    2178.39625446    3725.82887042      29.31555556    3805.12739938]
[307.02066667 355.9759375  374.2376     286.2938125  532.7286
 307.289375   381.614375   213.9324375  500.6945     345.1316875
 236.2001875  496.6803125  353.1798125  296.94266667 352.7499375
 169.2638125  335.174      380.1885     398.5350625  331.85406667
 195.83925    279.5005     227.717      279.3744     252.5861875
 385.733      286.0268125  295.25553333 438.8576875  381.0396875
 312.22375    399.0546     327.65461538 208.812625   259.7643125
 326.04242857 316.56773333 563.828      482.4651875  322.294375
 299.5113125  302.074375   391.5678125  329.657625   373.7394
 412.886875   297.40126667 382.6013125  250.7245625  310.054
 199.0165625  416.70746667 289.0615     184.830125   456.3302
 304.152125   306.93346667 309.527875   693.1523125  302.032625  ]
[36.   29.   33.   36.05 43.   44.05 37.5  20.3  30.   23.5  34.15 51.45
 37.   31.   27.   25.55 23.   22.5  39.25 13.1  24.75 18.15 31.35 27.
 33.5  33.   22.45 32.   50.95 37.5  39.35 47.3  33.   22.5  42.5  21.1
 45.5  41.5  37.   45.25 41.   23.5  35.8  41.5  25.   33.   55.   57.1
 40.5  27.5  24.   25.   25.5  18.25 52.   20.6  42.   19.   42.1  32.75]
[ 665087.66773956 1082271.24662256 1132911.63777397  590220.71272303
 2560166.27708344  664772.83544336 1278948.62709961  292332.07443162
 2521056.06040125 1043473.72440896  341549.34454178 2168229.29362646
  987965.43767928  595018.90448622 1068054.66943881  148813.72731553
  958283.8213025  1358600.80392125 1361650.37211068  859816.61748086
  225271.76163844  621015.04907125  330117.5273725   540052.52953504
  432396.85215553 1212892.92505267  637406.25649615  650248.82944998
 1269412.41824646 1170700.43887021  731724.43869844 1338032.50962691
  623415.14533254  277914.57284586  441563.96010646  746348.04222524
  654873.47754126 3226271.76791    2154252.00553365  701708.74562461
  678966.79169584  734151.84672461 1370299.97097803  845983.04305461
 1177015.14295837 1552087.54510898  575017.99303713 1045809.36941084
  434736.44356475  777594.40594     234394.5552335  1503673.44103652
  636565.49232375  193550.30784273 1735071.29385523  790727.62739523
  636836.75330692  801039.95815523 5452658.07604396  711358.07604586]

# Zadanie 2 (2 pkt)
Wgraj dane z pliku Zadanie_2.csv.

In [7]:
zad2 = np.genfromtxt('Zadanie_2.csv', delimiter = ';')
zad2

array([[  1.,   2.,  15., -59.,   9.,   3.,  75.,   6.,   7.,   1.],
       [  0.,   5.,   0.,   4.,   6.,  16.,  44.,   7.,   1.,   1.],
       [  7.,  14.,   3., -10.,   9.,  15.,  73.,   8.,   2.,   9.],
       [  1.,   5.,  15., -54.,   5.,  15.,  35.,   8.,   6.,   4.],
       [  0.,   8.,   5., -18.,   7.,  16.,  91.,   6.,   7.,   9.],
       [  7.,  18.,  23., -90.,   4.,   8.,  31.,   0.,   1.,   7.],
       [  2.,   8.,  20., -72.,   4.,   1.,  91.,   9.,   4.,   4.],
       [  4.,  12.,  18., -65.,   6.,   9.,  76.,   4.,   9.,   9.],
       [  7.,  15.,  13., -52.,   5.,   7.,  54.,   2.,   7.,   0.],
       [  2.,   9.,  15., -56.,   6.,   1.,  98.,   4.,   8.,   4.]])

a)	Znajdź wektory własne, oraz wartości własne dla zawartej w pliku macierzy

In [8]:
print(np.linalg.eig(zad2))
print(np.linalg.eigvals(zad2))

(array([104.34960192 +0.j        , -23.35660516+18.84992811j,
       -23.35660516-18.84992811j,  15.92989017 +0.j        ,
        -4.99456452 +0.j        ,   0.35205717 +5.80125175j,
         0.35205717 -5.80125175j,  -1.03383491 +0.j        ,
         3.87900166 +1.42651533j,   3.87900166 -1.42651533j]), array([[-0.29000475+0.j        , -0.07545445+0.07743149j,
        -0.07545445-0.07743149j, -0.03544485+0.j        ,
         0.42681634+0.j        , -0.22172831-0.29869259j,
        -0.22172831+0.29869259j,  0.41343726+0.j        ,
        -0.28670255+0.21891569j, -0.28670255-0.21891569j],
       [-0.24163153+0.j        ,  0.41229621+0.09197324j,
         0.41229621-0.09197324j,  0.45873475+0.j        ,
        -0.27056206+0.j        , -0.01331344+0.1422557j ,
        -0.01331344-0.1422557j , -0.31591047+0.j        ,
         0.41954481-0.10561864j,  0.41954481+0.10561864j],
       [-0.41060573+0.j        ,  0.37509638-0.00960818j,
         0.37509638+0.00960818j,  0.64067986+0.j        ,
        -0.37967609+0.j        , -0.60525232+0.j        ,
        -0.60525232-0.j        ,  0.6457768 +0.j        ,
         0.63631555+0.j        ,  0.63631555-0.j        ],
       [-0.18899971+0.j        , -0.05624951+0.174848j  ,
        -0.05624951-0.174848j  ,  0.25174536+0.j        ,
        -0.07625465+0.j        , -0.14870016-0.00795735j,
        -0.14870016+0.00795735j,  0.15206852+0.j        ,
         0.21373907+0.00228636j,  0.21373907-0.00228636j],
       [-0.42862199+0.j        ,  0.47707538+0.14580554j,
         0.47707538-0.14580554j,  0.39445834+0.j        ,
        -0.69542141+0.j        ,  0.07336021-0.43070469j,
         0.07336021+0.43070469j, -0.25948775+0.j        ,
         0.20250102-0.00411374j,  0.20250102+0.00411374j],
       [-0.14730562+0.j        , -0.57352911+0.j        ,
        -0.57352911-0.j        ,  0.10071325+0.j        ,
         0.30158403+0.j        , -0.04758838+0.12911829j,
        -0.04758838-0.12911829j,  0.21274791+0.j        ,
        -0.1503483 +0.03452906j, -0.1503483 -0.03452906j],
       [-0.34660607+0.j        , -0.13987374+0.06837303j,
        -0.13987374-0.06837303j, -0.04800705+0.j        ,
         0.06798106+0.j        ,  0.00512204+0.04215641j,
         0.00512204-0.04215641j,  0.05365357+0.j        ,
        -0.0534517 +0.00550802j, -0.0534517 -0.00550802j],
       [-0.34919853+0.j        , -0.08414467+0.07749664j,
        -0.08414467-0.07749664j,  0.25925893+0.j        ,
        -0.10039982+0.j        , -0.06761437-0.25584347j,
        -0.06761437+0.25584347j, -0.38214447+0.j        ,
         0.29485109-0.01300678j,  0.29485109+0.01300678j],
       [-0.2440048 +0.j        , -0.13777908+0.00402196j,
        -0.13777908-0.00402196j,  0.27709282+0.j        ,
        -0.00524365+0.j        ,  0.21866893+0.04463336j,
         0.21866893-0.04463336j, -0.12045798+0.j        ,
         0.27558332+0.02285482j,  0.27558332-0.02285482j],
       [-0.38231403+0.j        , -0.00476199+0.03456836j,
        -0.00476199-0.03456836j,  0.04918165+0.j        ,
         0.07322815+0.j        ,  0.1819345 -0.29687727j,
         0.1819345 +0.29687727j, -0.11445044+0.j        ,
         0.02830199+0.00579727j,  0.02830199-0.00579727j]]))
[104.34960192 +0.j         -23.35660516+18.84992811j
 -23.35660516-18.84992811j  15.92989017 +0.j
  -4.99456452 +0.j           0.35205717 +5.80125175j
   0.35205717 -5.80125175j  -1.03383491 +0.j
   3.87900166 +1.42651533j   3.87900166 -1.42651533j]

b)	Oblicz macierz odwrotną dla macierzy z pliku

In [9]:
np.linalg.inv(zad2)

array([[ 0.47461371,  0.13269253, -0.24726695, -0.82965177,  0.28250384,
        -0.17012825,  0.58274426,  0.83686705,  0.4146721 , -1.56942847],
       [-0.38032531, -0.11226789,  0.23216372,  0.58853747, -0.2508954 ,
         0.10174485, -0.40729564, -0.58325689, -0.2335154 ,  1.11832726],
       [ 0.13559662,  0.58950334, -0.24709855, -0.58789838, -0.30170699,
        -0.12721938,  0.23740295,  1.01003036, -0.02151387, -0.64590149],
       [ 0.01425207,  0.14570726, -0.04557569, -0.12721972, -0.08945184,
        -0.03756624,  0.03910376,  0.23606066, -0.01436771, -0.11345749],
       [-0.09473246,  0.01725249,  0.19145597,  0.32960274, -0.28626296,
         0.08348529, -0.37577603, -0.27295934, -0.25855803,  0.74691827],
       [ 0.16387032,  0.10075684, -0.15404907, -0.29794662,  0.16916877,
        -0.02827782,  0.20469921,  0.28036265,  0.15086178, -0.5882585 ],
       [ 0.04288003,  0.02246462, -0.0366803 , -0.09024915,  0.04322146,
        -0.01047861,  0.06167348,  0.07009721,  0.0367806 , -0.14185925],
       [-0.26858433, -0.21167346,  0.25168367,  0.55607234, -0.16804333,
         0.01066975, -0.22435849, -0.52957038, -0.15757224,  0.77302113],
       [-0.15583541, -0.13041404,  0.0984558 ,  0.3150966 , -0.09916278,
        -0.04426337, -0.20832614, -0.18404388, -0.04309498,  0.45794224],
       [-0.05970783, -0.11342903,  0.09122544,  0.11908074, -0.00311646,
         0.02370807, -0.07526552, -0.06924544, -0.10963836,  0.16553689]])

# Zadanie 3 (4 pkt)
Wgraj dane z pliku Zadanie_3.csv
Wykorzystaj następujący wzór:
Gdzie A i B to wektory reprezentujące kolejne kolumny.
Aby stworzyć macierz podobieństwa w oparciu o macierz z pliku.

# Zadanie 4* (Nieobowiązkowe – 3 punkty dodatkowe)
W pliku Zadanie_4.csv zawarte są dane o stanie dostępności gabinetu lekarskiego w danej minucie.

Napisz program, który przekształci dane w taki sposób, żeby w jednej linijce zapisany był początek i koniec przedziału czasowego, kiedy lekarz jest dostępny

Dane zapisz do pliku CSV.
Podpowiedź: Wykorzystaj do tego zadania bibliotekę pandas i metodę groupBy()

In [10]:
zad4 = pd.read_csv('Zadanie_4.csv', sep = ';',
                   usecols=['DateTime', 'DoctorID', 'Type', 'City'],
                   parse_dates=['DateTime'])
zad4.head(20)

              DateTime  DoctorID Type    City
0  2020-03-16 12:00:00         1   GP  Warsaw
1  2020-03-16 12:01:00         1   GP  Warsaw
2  2020-03-16 12:02:00         1   GP  Warsaw
3  2020-03-16 12:03:00         1   GP  Warsaw
4  2020-03-16 12:04:00         1   GP  Warsaw
5  2020-03-16 12:05:00         1   GP  Warsaw
6  2020-03-16 12:06:00         1   GP  Warsaw
7  2020-03-16 12:07:00         1   GP  Warsaw
8  2020-03-16 12:08:00         1   GP  Warsaw
9  2020-03-16 12:09:00         1   GP  Warsaw
10 2020-03-16 12:10:00         1   GP  Warsaw
11 2020-03-16 12:11:00         1   GP  Warsaw
12 2020-03-16 12:12:00         1   GP  Warsaw
13 2020-03-16 12:13:00         1   GP  Warsaw
14 2020-03-16 12:14:00         1   GP  Warsaw
15 2020-03-16 12:15:00         1   GP  Warsaw
16 2020-03-16 12:16:00         1   GP  Warsaw
17 2020-03-16 12:00:00         2   GP  Krakow
18 2020-03-16 12:01:00         2   GP  Krakow
19 2020-03-16 12:02:00         2   GP  Krakow

In [11]:
zad4['date'] = zad4['DateTime'].dt.date
zad4['time'] = zad4['DateTime'].dt.time

In [12]:
zad4['diff'] = zad4['DateTime'].diff().dt.total_seconds()
zad4['diff'][0] = 60.00000000000001
zad4.head()

C:\Users\ulaba\AppData\Local\Temp/ipykernel_19652/1731840954.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zad4['diff'][0] = 60.00000000000001

             DateTime  DoctorID Type    City        date      time  diff
0 2020-03-16 12:00:00         1   GP  Warsaw  2020-03-16  12:00:00  60.0
1 2020-03-16 12:01:00         1   GP  Warsaw  2020-03-16  12:01:00  60.0
2 2020-03-16 12:02:00         1   GP  Warsaw  2020-03-16  12:02:00  60.0
3 2020-03-16 12:03:00         1   GP  Warsaw  2020-03-16  12:03:00  60.0
4 2020-03-16 12:04:00         1   GP  Warsaw  2020-03-16  12:04:00  60.0

In [13]:
timeslots = []
slot = 1
for d in zad4['diff'].to_list():
    if d == 60.00000000000001:
        timeslots.append(slot)
    else:
        slot += 1
        timeslots.append(slot)

In [14]:
zad4['timeslots'] = timeslots

In [15]:
zad4

,DateTime,DoctorID,Type,City,date,time,diff,timeslots
0,2020-03-16 12:00:00,1,GP,Warsaw,2020-03-16,12:00:00,60.0,1
1,2020-03-16 12:01:00,1,GP,Warsaw,2020-03-16,12:01:00,60.0,1
2,2020-03-16 12:02:00,1,GP,Warsaw,2020-03-16,12:02:00,60.0,1
3,2020-03-16 12:03:00,1,GP,Warsaw,2020-03-16,12:03:00,60.0,1
4,2020-03-16 12:04:00,1,GP,Warsaw,2020-03-16,12:04:00,60.0,1
...,...,...,...,...,...,...,...,...
194,2020-03-29 14:33:00,1,GP,Warsaw,2020-03-29,14:33:00,60.0,6
195,2020-03-29 14:34:00,1,GP,Warsaw,2020-03-29,14:34:00,60.0,6
196,2020-03-29 14:35:00,1,GP,Warsaw,2020-03-29,14:35:00,60.0,6
197,2020-03-29 14:36:00,1,GP,Warsaw,2020-03-29,14:36:00,60.0,6
198,2020-03-29 14:37:00,1,GP,Warsaw,2020-03-29,14:37:00,60.0,6

In [16]:
id_min_max  = \
zad4.groupby(['date', 'DoctorID', 'Type', 'City', 'timeslots'])['DateTime']\
    .idxmax().reset_index().rename(columns={'DateTime' : 'idmax'})\
    .join(zad4.groupby(['date', 'DoctorID', 'Type', 'City', 'timeslots'])['DateTime']\
    .idxmin().reset_index().rename(columns={'DateTime' : 'idmin'})['idmin'], how='left')

In [17]:
id_min_max['min_datetime'] = [zad4['DateTime'][i] for i in id_min_max['idmin']]
id_min_max['max_datetime'] = [zad4['DateTime'][i] for i in id_min_max['idmax']]

In [18]:
id_min_max['time_available'] = id_min_max['max_datetime'] - id_min_max['min_datetime']
id_min_max

,date,DoctorID,Type,City,timeslots,idmax,idmin,min_datetime,max_datetime,time_available
0,2020-03-16,1,GP,Warsaw,1,16,0,2020-03-16 12:00:00,2020-03-16 12:16:00,0 days 00:16:00
1,2020-03-16,1,GP,Warsaw,3,79,67,2020-03-16 13:49:00,2020-03-16 14:01:00,0 days 00:12:00
2,2020-03-16,2,GP,Krakow,2,66,17,2020-03-16 12:00:00,2020-03-16 12:49:00,0 days 00:49:00
3,2020-03-22,3,Sugreon,Warsaw,4,145,80,2020-03-22 08:01:00,2020-03-22 09:06:00,0 days 01:05:00
4,2020-03-29,1,GP,Warsaw,6,198,161,2020-03-29 14:00:00,2020-03-29 14:37:00,0 days 00:37:00
5,2020-10-04,4,Opthomologist,Krakow,5,160,146,2020-10-04 13:20:00,2020-10-04 13:34:00,0 days 00:14:00

In [19]:
id_min_max[['date', 'DoctorID', 'Type', 'City', 'min_datetime', 'max_datetime', 'time_available']]

,date,DoctorID,Type,City,min_datetime,max_datetime,time_available
0,2020-03-16,1,GP,Warsaw,2020-03-16 12:00:00,2020-03-16 12:16:00,0 days 00:16:00
1,2020-03-16,1,GP,Warsaw,2020-03-16 13:49:00,2020-03-16 14:01:00,0 days 00:12:00
2,2020-03-16,2,GP,Krakow,2020-03-16 12:00:00,2020-03-16 12:49:00,0 days 00:49:00
3,2020-03-22,3,Sugreon,Warsaw,2020-03-22 08:01:00,2020-03-22 09:06:00,0 days 01:05:00
4,2020-03-29,1,GP,Warsaw,2020-03-29 14:00:00,2020-03-29 14:37:00,0 days 00:37:00
5,2020-10-04,4,Opthomologist,Krakow,2020-10-04 13:20:00,2020-10-04 13:34:00,0 days 00:14:00

In [20]:
id_min_max[['date', 'DoctorID', 'Type', 'City', 'min_datetime', 'max_datetime', 'time_available']]\
    .to_csv('zad4_wynik.csv', index=False)